<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.dao.TbItemMapper">
    <resultMap id="BaseResultMap" type="com.springmvc.domain.TbItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="itemName" jdbcType="VARCHAR" property="itemname"/>
        <result column="itemPrice" jdbcType="DECIMAL" property="itemprice"/>
        <result column="itemDetail" jdbcType="VARCHAR" property="itemdetail"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, itemName, itemPrice, itemDetail
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.springmvc.domain.TbItem">
    insert into tb_item (id, itemName, itemPrice,
      itemDetail)
    values (#{id,jdbcType=INTEGER}, #{itemname,jdbcType=VARCHAR}, #{itemprice,jdbcType=DECIMAL},
      #{itemdetail,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.springmvc.domain.TbItem">
        insert into tb_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="itemname != null">
                itemName,
            </if>
            <if test="itemprice != null">
                itemPrice,
            </if>
            <if test="itemdetail != null">
                itemDetail,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="itemname != null">
                #{itemname,jdbcType=VARCHAR},
            </if>
            <if test="itemprice != null">
                #{itemprice,jdbcType=DECIMAL},
            </if>
            <if test="itemdetail != null">
                #{itemdetail,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.domain.TbItem">
        update tb_item
        <set>
            <if test="itemname != null">
                itemName = #{itemname,jdbcType=VARCHAR},
            </if>
            <if test="itemprice != null">
                itemPrice = #{itemprice,jdbcType=DECIMAL},
            </if>
            <if test="itemdetail != null">
                itemDetail = #{itemdetail,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.springmvc.domain.TbItem">
    update tb_item
    set itemName = #{itemname,jdbcType=VARCHAR},
      itemPrice = #{itemprice,jdbcType=DECIMAL},
      itemDetail = #{itemdetail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
